
<span style="position:absolute;top:25px;right:7px">
    <div style="border-radius: 25px; width:15px; background-color: orangered; color:white; font-size:10px;"><b>@ViewBag.TotalCart</b></div>
</span>
